{% extends 'index.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="px-4 py-1 my-1" id="loginContent">
        {# Блок ошибок #}
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" width="48" height="48" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    {{ error_message }}
                </div>
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}


        <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='img/favicon.svg') }}" alt="" width="92" height="77">
        <div class="display-5 fw-bold text-body-emphasis text-center mb-3">{{ title }}</div>
        {# Форма отправки данных на сервер #}
        <form class="row g-3 was-validated" method="post" id="loginForm" action="{{ url_for('html_login_post') }}">
            {# Добавляем скрытое поле для CSRF токена #}
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

            <div class="mb-3">
                <label for="username" class="form-label">User name</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">Example: Jon or Eni</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Example: example@mail.com</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">Example: hj_45AA-werty</div>
            </div>

            <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
        </form>
    </div>

{% endblock content %}