{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="px-4 py-1 my-1">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='img/favicon.svg') }}" alt="" width="92"
             height="77">
        <div class="display-5 fw-bold text-body-emphasis text-center mb-3">{{ title }}</div>
        <!-- Форма -->
        <form class="row g-3 was-validated" method="post" id="registrationForm" action="{{ url_for('register_user') }}">

            <div class="mb-3">
                <label for="username" class="form-label">User name</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">Example: Jon or Eni</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Example: example@mail.com</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">Example: hj_45AA-werty</div>
            </div>

            <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>

        </form>

    </div>

    <script>
        // Добавляем обработчик события submit на форму с id="registrationForm"
        document.getElementById('registrationForm').addEventListener('submit', submitFormRegistration);
    </script>

{% endblock content %}