{% block content %}

    <div class="card text-center">

        <div class="card-header">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Timetable of classes
            </button>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card-body">
                <p class="card-text">{{ calendar | safe }}</p>{# Генерация календаря #}
            </div>
        </div>

        <div class="card-footer text-body-secondary">Тестовая надпись заглушка</div>

    </div>

{% endblock content %}